body{
   background: linear-gradient( to right , rgb(68, 104, 138),rgb(34, 32, 32, 0));
}
nav{
    height: 100px;
    background-image: linear-gradient(to bottom, #656d70, #164e65, #76a6b8);
    color: #0062ff;
    letter-spacing: 2px;
    align-items: center;
}
.h{
    font-size: 30px;
    text-decoration: none;
    margin-top: -40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}
.x{
    text-align: center;
    margin-left: -200px;
   margin-top: -30px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.v{
    margin: 5px 20px;
    margin-top: -10px;
    text-decoration: none;
    font-size: 30px;
    color: #0062ff;
    transition: 2s;
}
.b{
    margin: 5px 20px;
    margin-top: -10px;
    text-decoration: none;
    font-size:30px;
    transition: 2s;
    color: #0062ff;
}
.v:hover{
    color: white;
}
.b:hover{
color: white;
}
.n:hover{
    color: white;
}
.n{
    margin: 5px 20px;
    color: #0062ff;
    margin-top: -10px;
    text-decoration: none;
    font-size: 30px;
    transition: 2s;
}
.z{
    font-size: 30px;
    padding-top: 30px;
    margin-left: 10px;
    transition: 1s;
}
.z:hover{
    color: black;
}
.f{
    text-decoration: none;
    margin-left: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -60px;
    font-size: 25px;
    border-radius:15px;
    border: 3px solid black;
    width: fit-content;
    background-color: black;
    color: white;
    padding: 10px;
    transition: 1s;
}
.f:hover{
    background-color: white;
    color: black;
    transform: rotatex(360deg);
}
.m{
    display: flex;
    flex-direction: row-reverse;
    margin-right: -10px;
}
.a{
    margin-top: -40px;
    margin-right:300px;
    font-size: 30px;
    color: #0062ff;
    display: wrap ;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
}

.s:hover{
    transform: rotatex(180deg); 
}
.a:hover{
    transform: rotatex(180deg); 
}
.d:hover{
    transform: rotatex(180deg);
}
.s{
    margin-top: -40px;
    margin-right: 20px;
    font-size: 30px;
    color: #0062ff;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
}
.d{
    margin-top: -40px;
    color: #0062ff;
   margin-right: 30px;
   font-size: 30px;
   border: 1px solid white;
   border-radius: 50%;
   padding: 10px;
}
.l{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.j{
    margin: 30px 20px;
}
.o{
    font-size: 25px;
}
.u{
    margin-left: 800px;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    margin-top: -300px;
    animation-name:spin ;
    animation-duration: 2s;
    animation-iteration-count: infinite;
 }
    @keyframes spin{
        0%{
          margin-top: 5px;
        }
      100%{
        margin-top: -360px;
      }
      }
.g{
    margin-top: 15px;
    border-radius: 15px;
    border: 5px black solid;
    background-color: black;
    color: wheat;
}
.p{
    margin-top: 15px;
    border-radius: 15px;
    border: 5px rgb(13, 63, 109) solid;
    background-color: rgb(13, 63, 109);
    color: wheat;
}